
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<header>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a [routerLink]="'/'" class="navbar-brand">dandelion.eu</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a [routerLink]="'/'" class="nav-link active" aria-current="page">home</a></li>
            <li><a [routerLink]="'/configuration'" class="nav-link active" aria-current="page">configuration</a></li>
            <li><a [routerLink]="'/entityextraction'" class="nav-link active" aria-current="page">entity extraction</a></li>
            <li><a [routerLink]="'/textsimilarity'" class="nav-link active" aria-current="page">text similarity</a></li>
            <li><a [routerLink]="'/languagedetection'" class="nav-link active" aria-current="page">language detection</a></li>
            <li><a [routerLink]="'/sentimentanalysis'" class="nav-link active" aria-current="page">sentiment analysis</a></li>
            <li><a [routerLink]="'/history'" class="nav-link active" aria-current="page">history</a></li>
        </ul>
    </div>
  </nav>
</header>

<div class="container-1">
  <router-outlet></router-outlet>
</div>